$main-green: #0ec261;
$main-black: #121212;
$main-gray: #999999;
$main-light-gray: #eeeeee;
$button-def-start: #0ec261;
$button-def-end: #039f67;
$burger-width: 64px;
$burger-width-max: 84px;
$desktop-min: 1340px;
$tablet: 1023px;
$mobile: 568px;

